<h1>Measurements#show</h1>
<p>Find me in app/views/measurements/show.html.erb</p>
<hr>
<p>Date: <%= @measurement.created_at %>
<p>Weight: <%= @measurement.weight %>
<p>neck: <%= @measurement.neck %>
<p>arm: <%= @measurement.arm %>
<p>chest: <%= @measurement.chest %>
<p>waist: <%= @measurement.waist %>
<p>belly: <%= @measurement.belly %>
<p>hips: <%= @measurement.hips %>
<p>thighs: <%= @measurement.thighs %>
<p>calves: <%= @measurement.calves %>
<p>ankles: <%= @measurement.ankles %>
<hr>